div#projects-left > div.project:last-child {
  border-bottom-left-radius: 15px;
}

div#projects-left > div.project:last-child > section.info {
  border-bottom-left-radius: 10px;
}

div#projects-right > div.project:last-child {
  border-bottom-right-radius: 15px;
}

div#projects-right > div.project:last-child > section.info {
  border-bottom-right-radius: 10px;
}
