.project-img {
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  margin-top: 10px;
}

div.project {
  flex-direction: column;
  background-color: #f6eabd;
  border: 1px black solid;
  margin-top: 10px;
}

div.project > a {
  justify-content: center;
}
