div.project {
  flex-direction: column;
  background-color: #f6eabd;
  border: 1px black solid;
  margin-top: 10px;
}

div.project > a {
  justify-content: center;
}

.project-img {
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  margin-top: 10px;
}

div.project > section.info {
  margin: 10px;
  background-color: #fbf8c5e5;
}

p.description {
  padding: 0 10px;
  font-size: 14px;
}

div.tech {
  margin: 16px 0;
}

img.tech {
  max-height: 40px;
  margin: 0 5px;
}

img.tech:first-child:nth-last-child(1) {
  max-width: calc(100% - 10px);
}

img.tech:first-child:nth-last-child(2),
img.tech:first-child:nth-last-child(2) ~ img.tech {
  width: calc(50% - 10px);
}

img.tech:first-child:nth-last-child(3),
img.tech:first-child:nth-last-child(3) ~ img.tech {
  width: calc(100%/3 - 10px);
}

img.tech:first-child:nth-last-child(4),
img.tech:first-child:nth-last-child(4) ~ img.tech {
  width: calc(25% - 10px);
}
