div {
  display: flex;
  justify-content: center;
}

div.container {
  width: 80vw;
  height: 70vh;
  margin: 15vh 10vw;
}

div.content {
  width: 100%;
  perspective: 2500px;
}

div.pages {
  width: calc(100% - 144px);
}

div.left-side, div.right-side {
  width: calc(50% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
}

div.left-side {
  transform-origin: calc(100% + 10px);
}

div.right-side {
  transform-origin: -10px;
}

@media screen and (max-width: 1200px) {
  div.container {
    width: 90vw;
    margin: 15vh 5vw;
  }

  div.pages {
    width: calc(100% - 48px);
  }
}
