div {
  display: flex;
  justify-content: center;
}

div.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(85vw + 48px);
  height: 55vw;
  max-width: calc(136vh + 48px);
  max-height: 88vh;
  z-index: 1;
}

div.content {
  width: 100%;
  perspective: 200vw;
}

div.pages {
  width: calc(100% - 48px);
}

div.left-side, div.right-side {
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
}

div.left-side {
  transform-origin: calc(100% + 10px);
}

div.right-side {
  transform-origin: -10px;
}

@media screen and (max-width: 600px) {
  div.container {
    position: static;
    transform: none;
    width: 100%;
    height: fit-content;
    max-height: none;
  }

  div.content {
    width: 95vw;
    height: fit-content;
  }

  div.pages {
    flex-wrap: wrap;
    height: fit-content;
  }

  div.left-side, div.right-side {
    width: 100%;
    margin: 5vh 0 0 0;
  }
}
