section.skill {
  padding: 10px 0 10px 0;
  margin-top: 10px;
}

section#skill-1 {
  margin-top: 0;
}

section.skill:last-child {
  border-bottom-right-radius: 15px;
}

img.skill {
  max-height: 50px;
}

section.skill > p {
  margin-top: 10px;
  margin-bottom: 0;
}
