section#cam-mac {
  margin-bottom: 10px;
}

h1.name {
  font-size: 2em;
}

.bio-img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 19.92px;
}

section#visit, section#download {
  width: calc(100% - 39.84px);
  margin: 0 19.92px 19.92px 19.92px;
}
