section#cam-mac {
  border-top-left-radius: 15px;
  margin-bottom: 10px;
}

h1.name {
  font-size: 2em;
}

.bio-img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 19.92px;
}

section#profile {
  border-bottom-left-radius: 15px;
}

section#visit, section#download {
  width: calc(100% - 39.84px);
  background-color: #fbf8c5e5;
  margin: 0 19.92px 19.92px 19.92px;
}

section#download {
  border-bottom-left-radius: 10px;
}
