div.page {
  display: block;
  text-align: center;
  overflow: auto;
  width: 50%;
  padding: 10px;
  border: 1px black solid;
}

section {
  border: 1px black solid;
}

section#download {
  margin-top: 19.92px;
}

div > p {
  text-align: left;
}

@media screen and (max-width: 600px) {
  div.page {
    width: calc(100% - 22px);
    height: 50%;
  }
}
