html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100vh;
  background-image: url("assets/images/koi.png");
}

@media screen and (max-width: 600px) {
  html {
    height: 1250%;
    overflow: auto;
  }

  #root {
    height: 100%;
  }
}
