nav {
  position: absolute;
  width: calc(42.5vw + 24px);
  max-width: calc(68vh + 24px);
  margin: 20px 0;
  pointer-events: none;
}

.nav-left {
  left: 0;
}

.nav-right {
  right: 0;
}

nav > a, .tab-space {
  display: flex;
  height: calc(13.75vw - 10px);
  max-height: calc(22vh - 10px);
}

.nav-right > a, .nav-right > .tab-space {
  flex-direction: row-reverse;
}

.nav-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24px;
  overflow: hidden;
  pointer-events: all;
}

.nav-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  line-height: 12px;
  font-size: 1vw;
}
